@charset "UTF-8";

html{
    background-color: rgb(255, 255, 255);
    font-size: 15px;
}
body {
    display: grid;
    grid-template-columns: auto auto auto 250px;
    grid-template-rows: min-content 300px auto 200px;
    grid-template-areas: 
    "nav    nav     nav    nav"
    " header  header header aside"
    " main     main   main aside"
    "footer footer footer footer"
}

nav{
    grid-area: nav;
    background-color: rgb(255, 255, 255);
    padding: 1.5px;
    
}
#menycheckbox {
    display: none;
}

#supnav img{
    width:170px;
}


nav a{
    color: #000000;
    padding: 4px;
    text-decoration-line: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

nav a:hover{
    background-color: #c9c7ae;
}

header{
    grid-area: header;
    background-color: rgb(255, 255, 255);
    display:inline-block;
    background-image: url(../img/upward\ dog.png);
    background-size:400px;
    background-repeat:no-repeat;
    background-position: right;
    font-style: italic;
    text-shadow: 3px 3px 7px #97948b;
    font-family: cursive;
    text-align: center;
}


}
main{
    background-color: rgb(255, 255, 255);
    grid-area: main;
}
/*---om oss---*/
#vilkaarvi{
    text-align: center;

}
#vilkaarvi img{
    width: 150px;
    border-color: rgb(7, 6, 0);
    border-style: solid;
    border-width: 2px;

}
#vilkaarvi figure{
    display: inline-block;

}

#wrapper{
    background-color: #ffffff;
    display: inline-block;

}
#effekter picture{
    float: right;

}

#effekter figure::after{
    content:"";
    display: block;
    clear: both;
    
}

/*---STUDIO---*/
#boxstudio1 {
    display: flex;
    flex-wrap: wrap;
    padding: 13px;
    flex-direction: row;
    gap:15px;
    justify-content: space-evenly;
    background-color: #ebe9d7;
    margin-bottom: 30px;
}
#boxstudio2 {
    display: flex;
    flex-wrap: wrap;
    padding: 13px;
    flex-direction: row;
    gap:15px;
    justify-content: space-evenly;
    background-color: #ebe9d7;
    margin-top: 30px;
   
}
#boxstudio1 figure{
    max-width: 300px;
    width: 250px;
    height: 250px;
    margin: 20px;
}
#boxstudio2 figure{
    max-width: 300px;
    width: 250px;
    height: 250px;
    margin: 20px;
}
#map{
    max-width: 300px;
    width: 250px;
    height: 250px;
    margin: 10px; 
}

#boxstudio1 img{
    max-width: 300px;
    width: 250px;
    height: 250px;
    margin: 5px;
    border-style: solid;
    border-color: rgb(244, 247, 244);
    box-shadow:3px 3px 16px 4px rgb(73, 73, 73);
    transform: scale(1);

}
#boxstudio2 img{
    max-width: 300px;
    width: 250px;
    height: 250px;
    margin: 10px;
    border-style: solid;
    border-color: #f4f7f4;
    box-shadow:3px 3px 16px 4px rgb(73, 73, 73);
    transform: scale(1);   
}

#boxstudio1 img:hover{
    transform: scale(1.2);
    transition-duration: 2s;
}
#boxstudio2 img:hover{
    transform: scale(1.2);
    transition-duration: 2s;
}

#beskrivningstudio1 {
    width: 300px;
    background-color: #c9c7ae;
    border-color: rgb(8, 4, 0);
    border-width: 3px;
    border-style: double;
    padding: 3px;
}
#beskrivningstudio2 {
    width: 300px;
    background-color: #c9c7ae;
    border-color: rgb(8, 4, 0);
    border-width: 3px;
    border-style: double;
    padding: 3px;
}
/*---prislista---*/
 #locnav nav ul{
    list-style:none;
    text-align: center;
    
}
#locnav ul li{
    display: inline-block;
    margin: 20px;
    font-weight: 2px;
    font-size: 1.5rem;
    
}

#prislista figure{
    border-style: solid;
    padding: 2px;
    justify-content: space-evenly;
    width:250px;
    background-color: #ebe9d7;
    
}
#prislista figure a{
    color: #66090e;
}
#prislista {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    position: static;
   flex-wrap: wrap;
   text-align: center;
    
}
.väljknapp{
    border-style: solid;
    border-width: 3px;
    background-color: #c9c7ae;
    border-color: #68541e;
    max-width: min-content;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;

}
/*Schema*/
#schema{
    text-align: center;
}
table{
    background-color: #c9c7ae;
    border-collapse: collapse;
    
}
th, td{
    border-style: solid;
    border-width:2px;
    border-color: darkslategrey;
    padding: 3px;
}
table captio
{
    font-style: italic;
    text-decoration: solid;
}
th{
    background-color: #9e9d88;
}
table a {
    color: #66090e;
}
/*---BOKA___*/
#boka fieldset{
     padding: 15px;
     margin: 12px;
     background-color: #c9c7ae;
     
}
#boka fieldset div{
    display: grid;
     gap: 0,7em;
}

#boka legend{
    font-weight: bold;
}
 /*medlemsskap*/
 #medlemsinformation {
     padding: 5px;
 }

 
/*---erbjudanden aside---*/
aside{
    grid-area: aside;
    background-color: #c9c7ae;
    border-style: double;
    border-color: rgb(0, 0, 0);
    border-width: 6px;
    margin-bottom: 4px;
   
    font-family: Arial, Helvetica, sans-serif;
    color: #66090e;
}
aside a{
    color: #66090e;
}
aside figure {
    background-color: #e2dfc6;
    padding: 4px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 1.2px;
}


footer{
    background-color: rgb(255, 255, 255);
    grid-area: footer;
    margin-top: 40px;
}
#kontakt {
    text-align: center;
}
#adresserstudios{

    text-align: center;
}
/*---kontakt*/

}
#kontakt h2{
    text-align: left;
}

#kontaktaoss legend{
    font-weight: bold;
}
#kontaktaoss{
    padding: 1.5em;
    margin-bottom: 1.5em;
    background-color: #c9c7ae;

}
#textruta{
    padding:1.5em;
    margin-bottom: 1.5em;
    
}
#email{
    margin-bottom: 2em;
    margin-top: 5px;
}
#inspoyoga{
    padding: 15px;
}
#inspoyoga img:hover{
    transform: scale(0.8);
    transition: 2s;
}
@media screen and (max-width: 392px) {
    #effekter picture{
        display:none;
    }
}
@media screen and (max-width: 500px) {
    header {
        background-image: none;
    }
    body{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: min-content 250px  auto 150px;
        grid-template-areas: 
        "nav"
        "header"
        "main "
        "footer";

    }
    aside{
        display: none;
    }
   

