@charset "UTF-8";

html{
    background-color: rgb(105, 145, 145);
    font-size: 15px;
}
body {
    display: grid;
    grid-template-columns: 150px auto auto 120px;
    grid-template-rows: min-content 150px auto 270px;
    grid-template-areas: 
    "nav    nav     nav    nav"
    "aside header  header header"
    "aside main     main   main"
    "footer footer footer footer"
}

nav{
    grid-area: nav;
    background-color: darkgray;
}
header{
    grid-area: header;
    background-color: darksalmon;
}
main{
    background-color: rgb(118, 173, 173);
    grid-area: main;
}
#wrapper{
    background-color: rgb(132, 204, 132);
    display: inline-block;

}
#kollage1 img{
    max-width: 300px;
    margin: 10px;
    border-style: solid;
    border-color: honeydew;
    box-shadow:3px 3px 16px 4px rgb(73, 73, 73);
    
   
}

aside{
    grid-area: aside;
    background-color: floralwhite;
}
footer{
    background-color: rgb(219, 204, 121);
    grid-area: footer;
}
#kontakt {
    border-style: solid;
}
#adresserstudios{
    border-style: solid;
}
