@charset "UTF-8";

html{
    background-color: rgb(105, 145, 145);
    font-size: 15px;
}
body {
    display: grid;
    grid-template-columns: 120px auto auto 120px;
    grid-template-rows: min-content 150px auto 100px;
    grid-template-areas: 
    "nav    nav     nav    nav"
    "aside header  header header"
    "aside main     main   main"
    "footer footer footer footer"
}

nav{
    grid-area: nav;
    background-color: darkgray;
}
header{
    grid-area: header;
    background-color: darksalmon;
}
main{
    background-color: darkslategrey;
    grid-area: main;
}
aside{
    grid-area: aside;
    background-color: floralwhite;
}
footer{
    background-color: gold;
    grid-area: footer;
}